@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff2"),
    url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-black: #000000;
  --black: #333333;
  --modal-grey: #f2f2f2;
  --active-black: rgba(0, 0, 0, 0.3);
  --focus-blue: #669ec0;
  --active-blue: #5496bd;
  --focus-brown: #604e43;
  --active-brown: #503e33;
  --acive-grey: #bdbbbc;
  --active-white: rgba(255, 255, 255, 0.3);
  --rating-grey: #666666;
  --bac-rating-grey: #f2f2f2;
  --navigation-grey: #cacaca;
  --border-black: rgba(0, 0, 0, 0.25);
  --white-shadow: rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page {
  height: 100%;
}
.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--white-shadow);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 56px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(4n + 2),
.site-navigation li:nth-child(4n + 3) {
  flex-basis: 30%;
}
.site-navigation a {
  box-sizing: border-box;
  color: var(--basic-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px 15px 12px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
  outline: none;
}
.site-navigation a:active {
  color: var(--active-black);
}
.site-navigation a:not([href]) {
  color: var(--basic-brown);
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--white-shadow);
}
.title-image {
  position: relative;
  background-image: url("../img/welcome.svg"), url("../img/line.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 49%, 50% 191%, 50% 50%;
  height: 509px;
}
.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main-title p {
  display: block;
  text-align: center;
  font-size: 21px;
  padding: 42px 5px 2px;
  margin: 0;
}
.main-title .discriptoin {
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding: 41px 5px 52px;
  margin: 0;
}
.reasons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
}
.reasons-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 256px;
  text-align: center;
  padding: 40px 0 7px;
}
.reasons-wrapper h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 7px 125px 24px;
  margin: 0;
}
.reasons-wrapper .number-reasons {
  padding: 0 0 24px;
}
.reasons-wrapper p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 0px 40px;
  margin: 0;
}
.reasons-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.reasons-image {
  background-image: url("../img/really.png");
  background-repeat: no-repeat;
}

.convenience-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
}
.convenience {
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.convenience-item {
  position: relative;
  padding: 116px 0 20px;
}

.convenience-item p {
  color: var(--black);
}
.convenience-item::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-home.svg);
  top: 0;
  left: 50%;
  transform: translateX(-37px) translateY(23px);
  background-repeat: no-repeat;
}
.convenience-item.food::before {
  background-image: url(../img/icon-food.svg);
  width: 75px;
  height: 70px;
}
.convenience-item.memory::before {
  background-image: url(../img/icon-memory.svg);
  transform: translateX(-31px) translateY(19px);
  width: 64px;
  height: 77px;
}
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-grey);
}

.features-item {
  color: var(--black);
  text-align: center;
}

.modal-text {
  box-sizing: border-box;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-text h2 {
  box-sizing: border-box;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding: 37px 13px 5px;
  margin: 0;
}
.modal-text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 27px 0 44px;
  margin: 0;
}
.modal-button {
  display: inline-block;
  background-color: var(--basic-brown);
  color: white;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  border: none;
  outline: none;
  width: 568px;
  min-height: 86px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--focus-brown);
}
.modal-button:active {
  color: var(--active-white);
  background-color: var(--active-brown);
}

.map {
  width: 100%;
  height: 473px;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 5px 15px var(--white-shadow);
}
.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 0;
  padding: 16px 45px 10px 118px;
}
.contacts-wrapper.footer-hotels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 0;
  padding: 22px 45px 10px 118px;
}
.contacts-wrapper p {
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 8px;
}
.contacts-phone {
  color: var(--basic-black);
  padding-bottom: 5px;
}
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--basic-blue);
  outline: none;
}
.contacts-phone:active {
  color: var(--acive-grey);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 31px 90px 20px 95px;
  align-content: center;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social li {
  margin: 5px 5px 0 0;
  flex-basis: 30%;
}
.social-button {
  display: flex;
  flex-wrap: wrap;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.footer-social svg {
  fill: currentColor;
}
.footer-social a {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.footer-social a:hover,
.footer-social a:focus {
  color: var(--basic-white);
  background-color: var(--focus-blue);
  outline: none;
}
.footer-social a:active {
  color: var(--active-white);
  background-color: var(--active-blue);
}
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 26px 64px 6px 64px;
}
.footer-copyright p {
  margin: 0px 9px 0 0;
}
.footer-copyright svg {
  fill: currentColor;
}
.footer-copyright a {
  color: var(--basic-black);
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
  outline: none;
}
.footer-copyright a:active {
  color: var(--acive-grey);
}

.button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}
.button:hover,
.button:focus {
  background-color: var(--focus-blue);
}
.button:active {
  background-color: var(--active-blue);
  color: var(--active-white);
}
.button-form {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
}
.bom {
  height: 217px;
  background-image: url(../img/background-photo.jpg);
}
.assortment {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 86px;
}

.assortment-title {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 5px 10px 69px;
}
.assortment-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 5px 31px 11px 36px;
}
.assortment-wrapper a {
  margin-left: 36px;
}
.assortment h2 {
  font-size: 21px;
  line-height: 26px;
}
.assortment h3 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
.assortment a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--active-black);
  border-bottom: 1px dashed #81b3d2;
}
.assortment a:hover,
.assortment a:focus {
  border-bottom: 1px dashed #81b3d2;
  color: var(--basic-blue);
  outline: none;
}
.assortment a:active {
  color: var(--basic-black);
  border: none;
}
.assortment a:not([href]) {
  color: var(--basic-blue);
  border: none;
}
.assortment-navigation-button {
  padding: 32px 21px 15px 94px;
}
.assortment-navigation-button svg {
  fill: currentColor;
}
.assortment-navigation-button a {
  padding-right: 9px;
  color: var(--navigation-grey);
  border-bottom-style: none;
}
.assortment-navigation-button a:hover,
.assortment-navigation-button a:focus {
  color: var(--basic-black);
  border-bottom-style: none;
  outline: none;
}
.assortment-navigation-button a:active {
  color: var(--basic-blue);
  border-bottom-style: none;
}
.assortment-navigation-button a:not([href]) {
  color: var(--basic-blue);
  border-bottom-style: none;
}

.hotels-wrapper {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 63px 0px 73px;
  box-sizing: border-box;
  min-height: 151px;
  border-top: 1px solid var(--border-black);
}
.hotels-wrapper:last-child {
  border-bottom: 1px solid var(--border-black);
}
.hotels-content {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}
.hotels-wrapper img {
  align-self: center;
  padding-bottom: 23px;
  order: -1;
  width: 135px;
  height: 90px;
}

.hotels .name {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotels .name:hover,
.hotels .name:focus {
  color: var(--basic-blue);
}
.hotels .name:active {
  color: var(--active-black);
}

.price {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 8px 0px 15px 0px;
  grid-row-gap: 15px;
  grid-column-gap: 5px;
  box-sizing: border-box;
}
.price p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.rating-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 11px;
  box-sizing: border-box;
}
.rating-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rating-wrapper li {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0px 5px 29px 0px;
}
.rating-wrapper p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--rating-grey);
  background-color: var(--bac-rating-grey);
  width: 110px;
  min-height: 27px;
  text-align: center;
  margin: 16px 7px;
}
a.link-booking {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-align: center;
  width: 142px;
  min-height: 27px;
}
a.link-details {
  display: inline-block;
  box-sizing: border-box;
  padding: 3px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  width: 110px;
  height: 27px;
}
a.link-details:hover,
a.link-details:focus {
  background-color: var(--focus-blue);
}
a.link-details:active {
  background-color: var(--active-blue);
  color: var(--active-white);
}
a.link-booking:hover,
a.link-booking:focus {
  background-color: var(--focus-brown);
}
a.link-booking:active {
  background-color: var(--active-brown);
  color: var(--active-white);
}
