@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff2"),
    url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-black: #000000;
  --black: #333333;
  --modal-grey: #f2f2f2;
  --active-black: rgba(0, 0, 0, 0.3);
  --focus-blue: #669ec0;
  --active-blue: #5496bd;
  --focus-brown: #604e43;
  --active-brown: #503e33;
  --acive-grey: #bdbbbc;
  --active-white: rgba(255, 255, 255, 0.3);
  --rating-grey: #666666;
  --bac-rating-grey: #f2f2f2;
  --navigation-grey: #cacaca;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.page {
  height: 100%;
}
.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 70px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation a {
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
  outline: none;
}
.site-navigation a:active {
  color: var(--active-black);
}
.site-navigation a:not([href]) {
  color: var(--basic-brown);
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.title-image {
  position: relative;
  background-image: url("../img/welcome.svg"), url("../img/line.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%, 50% 189%, 50% 50%;
  height: 509px;
}

.main-title {
  text-align: center;
}
.discriptoin {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
}
.reasons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
}
.reasons-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.reasons-image {
  background-image: url("../img/really.png");
}
.reasons h3 {
  font-size: 21px;
  line-height: 21px;
}
.reasons p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.convenience-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
}
.convenience-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.convenience-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
}
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-grey);
}
.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
  text-align: center;
}
.text h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}
.text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
  
}
.contacts-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
.contacts-phone {
  color: var(--basic-black);

}
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--basic-blue);
  outline: none;
}
.contacts-phone:active {
  color: var(--acive-grey);
}

.footer-social{
  display: flex;
  justify-content: center;
  align-content: center;
 
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social li{
  margin-right: 5px;
}
.social-button{
  display: flex;
  flex-wrap: wrap;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.footer-social svg{
  fill: currentColor;
}
.footer-social a {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.footer-social a:hover,
.footer-social a:focus {
  color: var(--basic-white);
  background-color: var(--focus-blue);
  outline: none;
}
.footer-social a:active {
  color: var(--active-white);
  background-color: var(--active-blue);
}
.footer-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright p{
  margin-right: 5px;
}
.footer-copyright svg {
  fill: currentColor;
}
.footer-copyright a {
  color: var(--basic-black);
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
  outline: none;
}
.footer-copyright a:active {
  color: var(--acive-grey);
}
.modal h2 {
  color: var(--basic-white);
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
}
.modal h2:hover,
.modal h2:focus {
  background-color: var(--focus-brown);
}
.modal h2:active {
  background-color: var(--active-brown);
  color: var(--active-white);
}
.button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}
.button:hover,
.button:focus {
  background-color: var(--focus-blue);
}
.button:active {
  background-color: var(--active-blue);
  color: var(--active-white);
}
.button-form {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
}
.assortment {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.assortment-wrapper{
  display: flex;
  justify-content:flex-start;
  align-items: center;

}
.assortment-wrapper a{
  padding-left: 50px;
}
.assortment h2 {
  font-size: 21px;
  line-height: 26px;
}
.assortment h3 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.assortment a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--active-black);
  text-decoration: underline;
  text-decoration-style: dotted;
  
}
.assortment a:hover,
.assortment a:focus {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--basic-blue);
  outline: none;
}
.assortment a:active {
  color: var(--basic-black);
  text-decoration: none;
}
.assortment a:not([href]) {
  color: var(--basic-blue);
  text-decoration: none;
}
.hotels-navigation-button svg {
  fill: currentColor;
}
.hotels-navigation-button a {
  color: var(--navigation-grey);
  border-bottom-style: none;
}
.hotels-navigation-button a:hover,
.hotels-navigation-button a:focus {
  color: var(--basic-black);
  border-bottom-style: none;
  outline: none;
}
.hotels-navigation-button a:active {
  color: var(--basic-blue);
  border-bottom-style: none;
}
.hotels-navigation-button a:not([href]) {
  color: var(--basic-blue);
  border-bottom-style: none;
}

.hotels-wrapper {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  
}
.hotels-content{
  margin-left: 30px;
}
.hotels-wrapper img{
  align-self: center;
  order: -1;
  width: 135px;
  height: 90px;
}

.hotels a {
  color: var(--basic-black);
}
.hotels a:hover,
.hotels a:focus {
  color: var(--basic-blue);
}
.hotels a:active {
  color: var(--active-black);
}
.hotels h3 {
  font-size: 21px;
  line-height: 26px;
  color: inherit;
}
.hotels p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.rating-wrapper{
  margin-left: auto;
  margin-right: 30px;;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rating-wrapper ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}
.rating-wrapper li{
background-image:url(../img/star.svg);
background-repeat: no-repeat;
width: 20px;
height: 20px;

}
.rating {
  color: var(--rating-grey);
  background-color: var(--bac-rating-grey);
}
a.link.link-booking {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
a.link.link-details {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
a.link-details:hover,
a.link-details:focus {
  background-color: var(--focus-blue);
}
a.link-details:active {
  background-color: var(--active-blue);
  color: var(--active-white);
}
a.link-booking:hover,
a.link-booking:focus {
  background-color: var(--focus-brown);
}
a.link-booking:active {
  background-color: var(--active-brown);
  color: var(--active-white);
}
